{% load static%}
<!-- Container for demo purpose -->
<div class="container lg:py-24 px-6 mx-auto align-middle lg:w-3/5 sm:w-2/3 sm:py-4" id='bot-block'>

    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800 ">
<!--        <h2 class="text-2xl font-bold mb-12 text-center">Latest articles</h2>-->
        <div class="flex flex-wrap mb-12">
            <div class="w-full lg:w-6/12 lg:pr-6 mb-6 lg:mb-0">
                <div class="overflow-hidden bg-no-repeat bg-cover">
                    <img src="{% static 'img/pictures/Phone1.png' %}" class="w-3/5" alt="Bot picture"/>
                </div>
            </div>
            <div class="flex flex-col justify-center grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pl-6">
                <h3 class="text-2xl font-bold mb-4">Безпечна та ефективна йога у <span class="text-green-600">тебе в кишені</span>
                </h3>
                <p class="text-gray-500">
                    • Перший український унікальний телеграм бот провідник
                </p>

                <p class="text-gray-500">
                    • Прості практики які закривають проблеми в тілі
                </p>

                <p class="text-gray-500">
                    • Афірмації та медитації, інструменти для твого розвитку, календар настрою, карти передбачень
                </p>
                <div class="mt-10 flex items-center gap-x-6">
                    <a href="#prices"
                       class="rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Спробувати
                    </a>
                    <a href="https://t.me/inrytmBot"
                       class="rounded-md border border-green-600 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-green-600 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Зазирнути
                    </a>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap justify-end lg:flex-row-reverse mb-8 ">
            <div class="w-full lg:w-6/12 lg:pr-6 mb-6 lg:mb-0">
                <div class="flex justify-end overflow-hidden bg-no-repeat bg-cover">
                    <img src="{% static 'img/pictures/Phone2.png' %}" class="w-3/5" alt="Bot picture"/>
                </div>
            </div>

            <div class="flex flex-col justify-center grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pr-6">
                <h3 class="text-2xl font-bold mb-4">Один клік здатний <span class="text-green-600">змінити життя</span>
                </h3>
                <p class="text-gray-500 ">
                    • Долучись до унікального бота - БЕЗКОШТОВНО
                </p>
                <p class="text-gray-500">
                    • Ефективна та безпечна Йога
                </p>
                <p class="text-gray-500">
                    • Практики які діють
                </p>
                <p class="text-gray-500 ">
                    • Відчуй зміни в тілі та розумі
                </p>
                <p class="text-gray-500">
                    • Рецепти які позбавлять болю та вздуття у шлунку
                </p>
                <div class="mt-10 flex items-center gap-x-6">
                    <a href="#prices"
                       class="rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Спробувати
                    </a>
                    <a href="https://t.me/inrytmBot"
                       class="rounded-md border border-green-600 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-green-600 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Зазирнути
                    </a>
                </div>
            </div>

        </div>
    </section>
</div>