{% load static%}
<!-- Container for demo purpose -->
<div class="container flex items-center px-6 py-24 mx-auto mb-48">

    <!-- Section: Design Block -->
    <section class=" text-gray-800 flex align-middle justify-center">
        <div class="flex flex-wrap items-center">
            <div class="grow-0 shrink-0 basis-auto w-full lg:w-4/12 mb-6 md:mb-0 px-3">
                <h2 class="text-3xl font-bold mb-6">
                    Що ми <span class="text-green-600">пропонуємо?</span>
                </h2>

                <p class="text-gray-500 mb-12">
                    Єдина екосистема продуктів які допомагають налагодити життя і почуватися краще!
                </p>
            </div>

            <div class="grow-0 shrink-0 basis-auto w-full lg:w-8/12 mb-6 mb-md-0 px-3">
                <div class="flex flex-wrap">
                    <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 mb-12 px-3">
                        <div class="flex">
                            <div class="shrink-0">
                                <div class="p-4 bg-green-600 rounded-md shadow-lg">
                                    <img class="w-5 h-5 text-white" src="{% static 'img/svg/smartphone.png' %}">
                                </div>
                            </div>
                            <div class="grow ml-4">
                                <p class="font-bold mb-1">Телеграм бот</p>
                                <p class="text-gray-500">
                                    Унікальний інструмент з відео та аудіо пратиками, порадами та корисними статями
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 mb-12 px-3">
                        <div class="flex">
                            <div class="shrink-0">
                                <div class="shrink-0">
                                    <div class="p-4 bg-green-600 rounded-md shadow-lg">
                                        <img class="w-5 h-5 text-white" src="{% static 'img/svg/shopping-cart.png' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="grow ml-4">
                                <p class="font-bold mb-1">Онлайн магазин</p>
                                <p class="text-gray-500">
                                    Магазин де можна придбати корисні продукти, інструменти саморозвитку і речі для дому
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 mb-12 px-3">
                        <div class="flex">
                            <div class="shrink-0">
                                <div class="shrink-0">
                                    <div class="p-4 bg-green-600 rounded-md shadow-lg">
                                        <img class="w-5 h-5 text-white" src="{% static 'img/svg/group-users.png' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="grow ml-4">
                                <p class="font-bold mb-1">Спільнота однодумців</p>
                                <p class="text-gray-500">
                                  Ви можете поставити запитання, поспілкуватися у наших чатах, або зустрітися на ретрітах
                                  які організовує наша команда
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 mb-12 px-3">
                        <div class="flex">
                            <div class="shrink-0">
                                <div class="shrink-0">
                                    <div class="p-4 bg-green-600 rounded-md shadow-lg">
                                        <img class="w-5 h-5 text-white" src="{% static 'img/svg/health-care.png' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="grow ml-4">
                                <p class="font-bold mb-1">Здоров'я та стабільність</p>
                                <p class="text-gray-500">
                                    Допомагаємо навчитися керувати своїм життям. Правильно харчуватися, вилікувати тіло та розум
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->