<!-- component -->
<div class=" mb-44" id="prices">
    <h2 class="text-2xl font-bold mb-12 text-center">Підписка на бота</h2>
    <div class="container px-6 py-8 mx-auto">
        <div class="flex flex-col items-center justify-center space-y-8 lg:-mx-4 lg:flex-row lg:items-stretch lg:space-y-0">
            <div class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border border-gray-200 rounded-lg lg:mx-4">
                <div class="flex-shrink-0">
                    <h2 class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-green-400 uppercase rounded-lg bg-gray-50">
                        1 місяць
                    </h2>
                </div>
                <div class="flex-shrink-0">
                    <span class="pt-2 text-4xl text-gray-800 ">
                        ₴190
                    </span>
                    <span class="text-gray-500">/місяць</span>
                </div>
                <ul class="flex-1 space-y-4">
                    <li class="text-gray-500">
                        Для тих хто ще не довіряє, але усвідомлює що готовий змінитися і шукає портал в нове життя
                    </li>
                </ul>

                <a href="{% url 'overview' 'pidpiska-na-bota-1-misyac' %}"
                   class="inline-flex text-black items-center justify-center px-4 py-2 font-semibold uppercase transition-colors border border-green-600 rounded-lg hover:bg-green-700 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Почати
                </a>
            </div>
            <div class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border border-gray-200 rounded-lg lg:mx-4">
                <div class="flex-shrink-0">
                    <h2
                            class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-green-400 uppercase rounded-lg bg-gray-50"
                    >
                        3 місяці
                    </h2>
                </div>
                <div class="flex-shrink-0">
                    <span class="pt-2 text-4xl text-gray-800">
                        ₴170
                    </span>
                    <span class="text-gray-500">/місяць</span>
                </div>
                <ul class="flex-1 space-y-4">
                    <li class="text-gray-500">
                        Для впевнених в собі людей, які готові щодня проживати щасливе і наповнене життя без страху і
                        сумніву
                    </li>
                </ul>

                <a href="{% url 'overview' 'pidpiska-na-bota-3-misyaci' %}"
                   class="inline-flex items-center justify-center px-4 py-2 font-semibold text-white uppercase transition-colors bg-green-600 rounded-lg hover:bg-green-700 focus:outline-none"
                >
                    Почати
                </a>
            </div>
            <div class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border border-gray-200 rounded-lg lg:mx-4">
                <div class="flex-shrink-0">
                    <h2
                            class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-green-400 uppercase rounded-lg bg-gray-50 "
                    >
                        6 місяців
                    </h2>
                </div>
                <div class="flex-shrink-0">
                    <span
                            class="pt-2 text-4xl text-gray-800"
                    >
                        ₴140
                    </span>
                    <span class="text-gray-500">/місяць</span>
                </div>
                <ul class="flex-1 space-y-4">
                    <li class="text-gray-500">
                        Для відчайдушних, які готові змінити свою карму і пізнати себе
                    </li>
                </ul>

                <a href="{% url 'overview' 'pidpiska-na-bota-6-misyaciv' %}"
                   class="inline-flex text-black items-center justify-center px-4 py-2 font-semibold uppercase transition-colors border border-green-600 rounded-lg hover:bg-green-700 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Почати
                </a>
            </div>
        </div>
    </div>
</div>